
<p>
Current Time <%= Time.now %>
</p>

<h3> Lists of tasks to do: </h3>

<ul>
  <% @tasks.each do |task| %>
    <li><%= task.id %> - <%= task.name %> - <%= task.done == "true" ? "[X]" : "[ ]" %></li>
  <% end %>
</ul>
